.profile .dropdown-toggle img {
    display: inline;
}

.navbar .dropdown.profile .dropdown-menu .profile-body {
    float: left;
    text-align: left;
}

.navbar .dropdown.profile .dropdown-menu h5,
.navbar .dropdown.profile .dropdown-menu h6 {
    float: none;
}

.panel-header {
    padding: 30px;
    padding-bottom: 0px;
    text-align: right;
}

.admin-datatable {
    .flex:not(.table-cell) {
        border: none;
    }

    .flex.table-cell {
        border-left: none;
        border-right: none;
    }

    .lg\:flex {
        display: flex !important;
    }

    .table a {
        text-decoration: none;
    }

    .table-row {
        input,
        select {
            line-height: 24px;
            height: 24px;
        }
    }
}

#dataTable .bread-actions .btn,
.actions a.btn {
    margin-left: 5px;
}

@import "alpha-iris.scss";
