@tailwind base;
@layer base {
    select {
        background-color: #fff;
    }
}
@tailwind components;
@tailwind utilities;

.main-content > .alpha-iris-margin-element,
.main-content > .wp-block-group > .wp-block-group__inner-container > .alpha-iris-margin-element {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.wp-block-alpha-iris-form-block {
    label {
        @apply w-32 block;
    }
}

.top-menu-item {
    @apply text-gray-700 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

.second-level-menu {
    @apply mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5;
}

.second-level-menu .menu-item,
.second-level-menu-mobile .menu-item {
    @apply px-4 py-2 text-sm text-gray-700 hover:bg-gray-100;
}

ul.alpha-iris-margin-element {
    @apply list-inside;
}
