/* Main column width */
.wp-block {
    max-width: 100%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 100%;
}

/* Width of "full-width" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.gutenberg__editor .edit-post-layout {
    max-height: 80vh;
}
@import "alpha-iris.scss";
